# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# Entornos virtuales
venv/
env/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Base de datos
portal.db
*.db

# Logs
*.log

# Node
node_modules/
dist/
build/
.DS_Store
*.local

# Environment
.env
.env.local
.env.*.local

# Docker
docker-compose.override.yml
